@media screen and (max-width: 576px) {
  main h1 {
    font-size: 40px;
  }

  main p {
    width: 75%;
    font-size: 14px;
  }
}

@media screen and (min-width: 576px) {
  main h1 {
    font-size: 40px;
  }

  main p {
    width: 75%;
    font-size: 15px;
  }
}

@media screen and (min-width: 992px) {
  main p {
    width: 50%;
    font-size: 16px;
  }
}
