@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  main p {
    width: 75%;
    font-size: 15px;
  }

  .signin-right-part,
  .signin-left-part,
  .signup-right-part,
  .signup-left-part {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 40px;
  }

  .signin-left-part,
  .signup-left-part {
    border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -ms-border-radius: 10px 0px 0px 10px;
    -o-border-radius: 10px 0px 0px 10px;
  }

  .signin-right-part,
  .signup-right-part {
    border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -ms-border-radius: 0px 10px 10px 0px;
    -o-border-radius: 0px 10px 10px 0px;
  }
}

@media screen and (min-width: 992px) {
  main p {
    width: 50%;
    font-size: 16px;
  }
}
